<!DOCTYPE html>
<html>
  <head>
    [% title = "Walking Across London — Kake’s A–Z Walks" %]
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1024, user-scalable=no">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="css/main.css" />

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="js/leaflet.ajax.min.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/leaflet.spin.js"></script>
    <script type="text/javascript">
      var datafiles = [% datafiles %];
      var title = '[% title %]';
    </script>
    <script src="js/display.js"></script>

    <title>[% title %]</title>
  </head>

  <body>
    <div id="title"></div>
    <div id="map"></div>
  </body>
</html>
