html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.leaflet-popup-content .walk-name {
  font-weight: bold;
}

.leaflet-popup-content .walk-start-end {
  display: inline-block; // to make the ::first-letter stuff work
}

.leaflet-popup-content .walk-start-end::first-letter {
  text-transform: uppercase;
}

#title {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: thin solid gray;
  border-left: thin solid gray;
  font: 24px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
}
