html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.leaflet-popup-content .walk-name {
  font-weight: bold;
}

.leaflet-popup-content .walk-start-end {
  display: inline-block; // to make the ::first-letter stuff work
}

.leaflet-popup-content .walk-start-end::first-letter {
  text-transform: uppercase;
}

#title, #title-expander {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: thin solid gray;
  font: 24px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#title {
  padding: 10px;
}

#title-expander {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
}

#title-collapser {
  display: inline-block;
  margin-left: 10px;
}

#title-expander, #title-collapser {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.65);
  cursor: pointer;
}

#title-collapser:hover, #title-expander:hover {
  background-color: #f4f4f4;
}

@media (max-width: 639px) {
  #title-text {
    margin-right: 5px;
  }

  #title-collapser {
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding: 7px 7px 9px 7px;
  }

  #title-expander {
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 7px 7px 9px 7px;
    margin-right: 20px;
  }
}

@media (min-width: 640px) {
  #title {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    border-left: thin solid gray;
  }

  #title-collapser {
    padding: 0 7px 0 7px;
  }

  #title-expander {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 9px 4px 9px;
  }
}
