html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.leaflet-popup-content .walk-name {
  font-weight: bold;
}

.leaflet-popup-content .walk-start-end {
  display: inline-block; // to make the ::first-letter stuff work
}

.leaflet-popup-content .walk-start-end::first-letter {
  text-transform: uppercase;
}
